:root {
  --background-color: #442b40;
  --game-width: 640;
  --game-height: 360;
  --scale: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  position: relative;
  aspect-ratio: var(--game-width) / var(--game-height);
  display: inline-block;
}

#game {
  width: calc(var(--game-width) * 1px);
  height: calc(var(--game-height) * 1px);
  display: block;
  outline: none;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--game-width) * 1px);
  height: calc(var(--game-height) * 1px);
  transform-origin: center;
  transform: scale(var(--scale));
  contain: layout paint size;
  content-visibility: auto;
  pointer-events: none;
}

#ui :where(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-ui] {
  position: absolute;
  pointer-events: auto;
  display: flex;
  background: var(--background-color);
}

[data-ui="top-left"] {
  inset: 0 auto auto 0;
  align-items: flex-start;
  justify-content: flex-start;
}

[data-ui="top-right"] {
  inset: 0 0 auto auto;
  align-items: flex-start;
  justify-content: flex-end;
}

[data-ui="bottom-left"] {
  inset: auto auto 0 0;
  align-items: flex-end;
  justify-content: flex-start;
}

[data-ui="bottom-right"] {
  inset: auto 0 0 auto;
  align-items: flex-end;
  justify-content: flex-end;
}

[data-ui="center"] {
  inset: 50%;
  translate: -50% -50%;
  align-items: center;
  justify-content: center;
}

[data-ui="top"] {
  inset: 0 0 auto 0;
  justify-content: center;
}

[data-ui="bottom"] {
  inset: auto 0 0 0;
  justify-content: center;
}

[data-ui="left"] {
  inset: 0 auto 0 0;
  align-items: center;
  justify-content: flex-start;
}

[data-ui="right"] {
  inset: 0 0 0 auto;
  align-items: center;
  justify-content: flex-end;
}

[data-ui="full"] {
  inset: 0;
  align-items: stretch;
  justify-content: stretch;
}
