:root {
  --background-color: #442b40;
  --scale: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  position: relative;
  display: inline-block;
}

#game {
  width: var(--canvas-width);
  height: var(--canvas-height);
  display: block;
}
